@page
@model RBweb.Pages.Comenzi.ConfirmareModel
@{
    ViewData["Title"] = "Comanda plasata";
}

<h2>Comanda a fost plasata ✅</h2>
<p>Numărul comenzii pentru ridicare este: <strong>@Model.NumarComanda</strong></p>
<p>Multumim! Estimare livrare: <b>Maxim 30 de minute</b>.</p>

<a class="btn btn-danger" asp-page="/Comenzi/Meniu">Inapoi la meniu</a>
