@page
@{
    ViewData["Title"] = "Comandă plasată";
}

<h2>Comanda a fost plasată ✅</h2>
<p>Mulțumim! Estimare livrare: <b>45 min – 2 ore</b>.</p>

<a class="btn btn-danger" asp-page="/Comenzi/Meniu">Înapoi la meniu</a>
