@page
@model RBweb.Pages.Comenzi.IndexModel
@{
    ViewData["Title"] = "Comenzi";
}

<h1>Comenzi (Admin)</h1>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Data</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model.Comanda)
        {
            var total = c.Items.Sum(i => i.Pret * i.Cantitate);
            <tr>
                <td>@c.UserEmail</td>
                <td>@c.DataComanda.ToString("dd.MM.yyyy HH:mm")</td>
                <td>@total.ToString("0.00") lei</td>
                <td><a asp-page="./Details" asp-route-id="@c.ID">Detalii</a></td>
            </tr>
        }
    </tbody>
</table>
